<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title></title>
		<meta charset="UTF-8">
	</head>
	<body>
		<header th:fragment="encabezado">
			<h1>Control Consumidor</h1>
		</header>
		<footer th:fragment="piepagina">
			<p>Creado por Ángel Calzado Llamas siguiendo tutorial: 
				<a href="https://www.youtube.com/playlist?list=PLCIjncxyvEHbSAhlMhSrMROJtg1s_tlG8" target="_blank">
					Java y Spring boot
				</a>
			</p>
		</footer>
	</body>
</html>